
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat-regular.eot');
    src: url('../fonts/montserrat-regular.eot') format('embedded-opentype'),
         url('../fonts/montserrat-regular.woff2') format('woff2'),
         url('../fonts/montserrat-regular.woff') format('woff'),
         url('../fonts/montserrat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'raleway';
    src: url('./raleway-regular.eot');
    src: url('../fonts/raleway-regular.eot') format('embedded-opentype'),
         url('../fonts/raleway-regular.woff2') format('woff2'),
         url('../fonts/raleway-regular.woff') format('woff'),
         url('../fonts/raleway-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.main__container__block {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}


header {
  width: 100%;
  height: auto;
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background: -moz-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  background: -webkit-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  background: -ms-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  background-image: url(../assets/BackfroundImageHeadear.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.nav__block {
  width: 1200px;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-right: 45px;
  border: red 4px solid;
  margin-top: 110px;
}

header .div a {
  font-size: 34px;
  font-family: "Raleway";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: right;
  text-decoration: none;
 

  
}

header .div a svg {
fill: currentColor;
}
header .div a span {
  color: brown;
}

.page-header-list {
  width: auto;
  display: flex;
  justify-content: space-between;
  color: rgb(255, 255, 255);
 margin-right: 20px;
}

.page-header-list li {
  margin-right: 20px;
}
.page-header-list li:last-child {
  margin: 0;
}

header .div button {
 background: none;


} 

